@page "/Data/ProjectEdit/{id:int}"

@implements IDisposable;

@using ModelM2s;
@using ModelM4s;
@using Data;
@using System.IO

@inject IWebHostEnvironment env
@inject ProjectData pj;
@inject NavigationManager NavManager

<h3>Edit Project</h3>
<br />
<EditForm Model="projecthd">
    <div class="container">
        <div class="row">
            <div class="col-2"><p><b>Main Project Name :</b></p></div>
            <div class="col"><InputText style="width: 100%" id="MainName" @bind-Value="projecthd.ProjectName"></InputText></div>
        </div>
        <div class="row">
            <div class="col-2"><p><b>Description :</b></p></div>
            <div class="col"><InputText style="width: 100%" id="MainDesc" @bind-Value="projecthd.Description"></InputText></div>
        </div>
        <div class="row">
            <div class="col-2"><p><b>Remarked :</b></p></div>
            <div class="col"><InputText style="width: 100%" id="MainRemark" @bind-Value="projecthd.Remark"></InputText></div>
        </div>
        <div class="row">
            <div class="col-2"><p><b>Budget :</b></p></div>
            <div class="col"><InputNumber style="width: 100%" id="MainBudget" @bind-Value="projecthd.Budget"></InputNumber></div>
            <div class="col-1">THB</div>
        </div>
        <div class="row">
            <div class="col-2"><p><b>Started Date :</b></p></div>
            <div class="col-2"><InputDate style="width: 100%" id="MainStartDate" @bind-Value="projecthd.PlanStartDate"></InputDate></div>
        </div>
        <div class="row">
            <div class="col-2"><p><b>Finished Date :</b></p></div>
            <div class="col-2"><InputDate style="width: 100%" id="MainFinishDate" @bind-Value="projecthd.PlanFinishDate"></InputDate></div>
        </div>
        <div class="row">
            <div class="col-2"><p><b>Old Customer :</b></p></div>
            @if (member is not null)
            {
                foreach (var list in member)
                {
                    <div class="col">@list.CompanyNameEn (@list.CompanyNameTh)</div>
                }
            }
        </div>
        <div class="row">
            <div class="col-2"><p><b>New Customer :</b></p></div>
            <div class="col">
                <InputSelect style="width: 100%" id="MainCustomer" @bind-Value="memberid">
                    <option value="0">------------Select New Customer------------</option>
                    @if (memberall is not null)
                    {
                        foreach (var list in memberall)
                        {
                            <option value="@list.Id">@list.CompanyNameEn (@list.CompanyNameTh)</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>
    </div>
    <br />

    <h4>Contact Infomation</h4>
    <div class="container" style="background-color:white; border:solid">
        <div class="row">
            <p>
                <table style="width:100%">
                    <tr>
                        <th style="width:37.5%">Name English</th>
                        <th style="width:37.5%">Name Thailand</th>
                        <th style="width:15%">Tel.</th>
                        <th class="text-center" style="width:10%">Delete</th>
                    </tr>
                    @if (contact is not null)
                    {
                        foreach (var list in contact)
                        {
                            <tr>
                                <td>@list.FirstNameEn @list.LastNameEn</td>
                                <td>@list.FirstNameTh @list.LastNameTh</td>
                                <td>@list.MobileNo</td>
                                <td class="text-center"><button @onclick="() => contact.Remove(list)">X</button></td>
                            </tr>
                        }
                    }

                </table>
            </p>
        </div>
       <div class="row">
           <div class="col-4">
               <p>
                    <InputSelect id="MainContact" @bind-Value="contactid">
                        <option value="0">------------Select Contact------------</option>
                        @if (contact is not null)
                        {
                            if (memberid == 0)
                            {
                                foreach (var list in contactall)
                                {
                                    <option value="@list.Id">@list.Title @list.FirstNameTh @list.LastNameTh</option>
                                }
                            }
                            else
                            {
                                foreach (var list in contactall.Where(w => w.MemberNo == GetMemberNoFromID(memberid)).ToList())
                                {
                                    <option value="@list.Id">@list.Title @list.FirstNameTh @list.LastNameTh</option>
                                }
                            }

                        }
                    </InputSelect>
               </p>
           </div>
            <div class="col"><button @onclick="()=>SaveContact(contactid)">Add Contact</button></div>
       </div>
    </div>
    <br />
    <div class="container">
        <button @onclick="UpdateProjectHD">Update</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    public ProjectHd projecthd { get; set; } = new ProjectHd();
    private List<MemberMaster> membersave;
    private List<MemberMaster> memberall;
    private List<MemberContactPerson> contactall;
    private List<MemberMaster> member;
    private List<MemberContactPerson> contact;

    int memberid;
    int contactid;

    protected override async Task OnInitializedAsync()
    {
        await Initial();
    }

    private async Task Initial()
    {
        projecthd = await pj.GetProjectHDbyID(id);
        memberall = await pj.GetAllMember();
        contactall = await pj.GetAllContact();
        member = Newtonsoft.Json.JsonConvert.DeserializeObject<List<MemberMaster>>(projecthd.CustomerInfo);
        contact = Newtonsoft.Json.JsonConvert.DeserializeObject<List<MemberContactPerson>>(projecthd.ContactInfo);
        StateHasChanged();
    }

    private string GetMemberNoFromID(int id)
    {
        var list = memberall.Where(w => w.Id == id).FirstOrDefault();
        return list.MemberNo;
    }

    void SaveContact(int id) //Add contact to Project HD
    {
        var result = contactall.Where(w => w.Id == id).FirstOrDefault();
        contact.Add(new MemberContactPerson() { 
            Id = result.Id,
            MemberNo = result.MemberNo,
            Title = result.Title,
            FirstNameTh = result.FirstNameTh,
            LastNameTh = result.LastNameTh,
            FirstNameEn = result.FirstNameEn, 
            LastNameEn = result.LastNameEn,
            Nationality = result.Nationality,
            Position = result.Position,
            PhoneNo = result.PhoneNo,
            MobileNo = result.MobileNo,
            Email = result.Email,
            LineId = result.LineId,
            FaceBook = result.FaceBook,
            Linkedin = result.Linkedin,
            IsOwner = result.IsOwner,
            ShareBaht = result.ShareBaht,
            ShaerPercent = result.ShaerPercent
        });
    }

    async void UpdateProjectHD()
    {
        if (memberid > 0)
        {
            membersave = new List<MemberMaster>();
            var result = memberall.Where(c => c.Id == memberid).FirstOrDefault();
            membersave.Add(new MemberMaster() { 
                Id = result.Id,
                CreateDate = result.CreateDate,
                MemberNo = result.MemberNo,
                MemberStartDate = result.MemberStartDate,
                MemberType = result.MemberType,
                CompanyNameTh = result.CompanyNameTh,
                CompanyNameEn = result.CompanyNameEn,
                CompanyRegistrationNo = result.CompanyRegistrationNo,
                RegisterCapital = result.RegisterCapital,
                ThaiCapitalPercentage = result.ThaiCapitalPercentage,
                EstablishYear = result.EstablishYear,
                FixedAsset = result.FixedAsset,
                NumberofEmployee = result.NumberofEmployee,
                Telephone = result.Telephone,
                Email = result.Email,
                WebSite = result.WebSite,
                Facebook = result.Facebook,
                IsBoi = result.IsBoi,
                IsCoreMemeber = result.IsCoreMemeber,
                IsEnable = result.IsEnable,
                ExpiredDate = result.ExpiredDate
            });
            projecthd.CustomerInfo = Newtonsoft.Json.JsonConvert.SerializeObject(membersave);
        }
        
        projecthd.ContactInfo = Newtonsoft.Json.JsonConvert.SerializeObject(contact);
        projecthd.ProjectHdstatus = "Open";
        projecthd.Active = "Y";
        projecthd.ProjectHdhistories.Add(new ProjectHdhistory() { ProjectHdid = projecthd.Id, Remark = "Update", EditorId = 1 });
        var update = await pj.SaveProjectHD(projecthd);

        NavManager.NavigateTo("/Data/ProjectDetail/" + id);
    }

    public void Dispose()
    {
        Console.WriteLine("Disconnected");
    }
}
