@page "/Data/Project"

@implements IDisposable;

@using ModelM2s;
@using Data;

@inject ProjectData pj;

<h3>Project</h3>
@if (project is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 15%">Running Number</th>
                <th style="width: 25%">Project Name</th>
                <th style="width: 25%">Remarked</th>
                <th style="width: 10%">Status</th>
                <th style="width: 15%" class="text-center">Project Sub Total</th>
                <th style="width: 10%" class="text-center">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in project)
            {
                <tr>
                    <td>@project.ProjectHdrunNo</td>
                    <td>@project.ProjectName</td>
                    <td>@project.Remark</td>
                    <td>@project.ProjectHdstatus</td>
                    <td class="text-center">@project.ProjectSubProjectTls.Count()</td>
                    <td class="text-center"><a href="/Data/ProjectDetail/@project.Id">Link</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProjectHd> project;

    protected override async Task OnInitializedAsync()
    {
        project = await pj.GetProjectHD();
        project = project.OrderByDescending(n => n.ProjectHdrunNo).ToList();
        StateHasChanged();
    }

    public void Dispose()
    {
        project.Clear();
        Console.WriteLine("Disconnected");
    }
}
